# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

on:
  push:
    branches: ["main"]
   pull_request:
    branches: [ "main" ]

pool:
  vmImage: ubuntu-latest

steps:
  - name: Checkout repo
    uses: actions/checkout@v4

  - name: Setup .NET
    uses: actions/setup-dotnet@v4
    with:
      dotnet-version: '8.0.x' 

  - name: Restore
    run: dotnet restore

  - name: Build
    run: dotnet build --configuration Release --no-restore

  - name: Test
    run: dotnet test --configuration Release --no-build

  - name: Publish
    run: dotnet publish WoahWebApp.csproj -c Release -o published


 # - name: Deploy to Azure Static Web Apps
 #   uses: Azure/static-web-apps-deploy@v1
 #   with:
 #     azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
 #     app_location: "published/wwwroot"
 #     api_location: ""
 #     output_location: ""
